<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcw.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.lcw.entity.User">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="is_delete" property="isDelete" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id,
		name,
		age,
		is_delete,
		create_time,
		update_time
	</sql>
	
	
	<insert id="addUser" parameterType="com.lcw.entity.User">
		INSERT INTO `user` (NAME, age, create_time)
		VALUES
			(#{name}, #{age}, NOW())
	</insert>
	
	<delete id="deleteUser" parameterType="Long">
		DELETE
		FROM
			`user`
		WHERE
			id = #{id}
	</delete>
	
	<update id="updateUser" parameterType="map">
		UPDATE USER
		SET age = #{age}
		WHERE
			id = #{id}
	</update>
	
	<select id="selectUser" parameterType="Long" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM
			`user`
		WHERE
			id = #{id}
	</select>
	
	<select id="queryUser" parameterType="com.lcw.entity.query.UserQuery" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM `user`
		WHERE is_delete = 0
		<if test="name != null and name != ''">
			AND name = #{name}
		</if>
		<if test="age != 0">
			AND age = #{age}
		</if>
		LIMIT #{startRecord},#{pageSize}
	</select>

</mapper>